## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [44]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [45]:
# Your code here
sample_list_1=random.sample(range(0,101),80)
print(sample_list_1)
len(sample_list_1)

[49, 11, 26, 73, 28, 2, 43, 1, 85, 62, 77, 50, 38, 86, 31, 61, 24, 46, 8, 42, 97, 20, 81, 9, 90, 12, 30, 14, 25, 48, 10, 70, 58, 76, 79, 65, 83, 7, 53, 91, 17, 51, 34, 55, 68, 29, 15, 37, 35, 3, 96, 100, 93, 6, 57, 27, 72, 99, 84, 54, 47, 22, 21, 67, 66, 64, 82, 44, 95, 36, 94, 52, 63, 32, 89, 74, 60, 0, 45, 33]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [46]:
# Your code here
set1= set(sample_list_1)
len(set1)

80

In [47]:
#Tiene sentido que siga siendo el mismo porque los datos erán unicos y un set solo trata con datos unicos

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
#Notas para mi: me sale una lista muy grande pero yo solo quiero el primero y[0]
sample_list_2=[]
for x in range(80):
    y=random.sample(range(101),80)
    sample_list_2.append(y[0])
print(sample_list_2)
len(sample_list_2)

[83, 23, 5, 97, 10, 62, 65, 63, 81, 51, 80, 85, 20, 94, 30, 38, 13, 83, 97, 24, 2, 2, 66, 82, 35, 8, 47, 69, 85, 97, 63, 90, 52, 72, 60, 92, 38, 44, 75, 97, 48, 49, 26, 42, 51, 6, 22, 70, 76, 95, 32, 94, 4, 1, 16, 89, 4, 74, 33, 53, 35, 80, 54, 15, 77, 72, 51, 33, 67, 73, 82, 81, 45, 93, 88, 87, 44, 56, 17, 91]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)

{1, 2, 4, 5, 6, 8, 10, 13, 15, 16, 17, 20, 22, 23, 24, 26, 30, 32, 33, 35, 38, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 60, 62, 63, 65, 66, 67, 69, 70, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97}

61

In [50]:
#Al no tener la condición de que sean unicos al hacerlos set se eliminian los que esten repetidos

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [66]:
# Your code here usando for
set3 = set()
for x in range(100):
    if x in set1 and x not in set2:
        set3.add(x)
        print(set3)

{3}
{3, 7}
{9, 3, 7}
{11, 9, 3, 7}
{3, 7, 9, 11, 12}
{3, 7, 9, 11, 12, 14}
{3, 7, 9, 11, 12, 14, 21}
{3, 7, 9, 11, 12, 14, 21, 25}
{3, 7, 9, 11, 12, 14, 21, 25, 27}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31}
{34, 3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31}
{34, 3, 36, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31}
{34, 3, 36, 37, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31}
{34, 3, 36, 37, 7, 9, 11, 12, 43, 14, 21, 25, 27, 28, 29, 31}
{34, 3, 36, 37, 7, 9, 11, 12, 43, 14, 46, 21, 25, 27, 28, 29, 31}
{34, 3, 36, 37, 7, 9, 11, 12, 43, 14, 46, 50, 21, 25, 27, 28, 29, 31}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79, 84}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79, 84, 86}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79, 84, 86, 96}
{3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79, 84, 86, 96, 99}

In [52]:
#Experimento https://www.geeksforgeeks.org/python-set-difference/
set3 = set1.difference(set2)
print(set3)

{0, 3, 7, 9, 11, 12, 14, 21, 25, 27, 28, 29, 31, 34, 36, 37, 43, 46, 50, 55, 57, 58, 61, 64, 68, 79, 84, 86, 96, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
# Your code here usando for
set4 = set()
for x in range(100):
    if x in set2 and x not in set1:
        set4.add(x)
        print(set4)

{4}
{4, 5}
{13, 4, 5}
{16, 13, 4, 5}
{4, 5, 13, 16, 23}
{4, 5, 13, 16, 23, 56}
{4, 5, 69, 13, 16, 23, 56}
{4, 5, 69, 75, 13, 16, 23, 56}
{4, 5, 69, 75, 13, 16, 80, 23, 56}
{4, 5, 69, 75, 13, 16, 80, 87, 23, 56}
{4, 5, 69, 75, 13, 16, 80, 87, 23, 56, 88}
{4, 5, 69, 75, 13, 16, 80, 87, 23, 56, 88, 92}

In [54]:
#Experimento 
set4 = set2.difference(set1)
print(set4)

{4, 5, 69, 75, 13, 16, 80, 87, 23, 56, 88, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 2, 6, 8, 10, 15, 17, 20, 22, 24, 26, 30, 32, 33, 35, 38, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 60, 62, 63, 65, 66, 67, 70, 72, 73, 74, 76, 77, 81, 82, 83, 85, 89, 90, 91, 93, 94, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [56]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
61
31
12
49

In [57]:
#no entiendo lo de la math formular, ¿me la tengo que inventar?

#### Create an empty set called `set6`.

In [58]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [60]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [61]:
# Your code here
set2.issubset(set1)

True

In [65]:
set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [62]:
# Your code here
aggregate1 = set3.union(set4, set5)
aggregate2 = set1.union(set2)

In [63]:
#Comprobación
aggregate1 == aggregate2

True

#### Using the `pop` method, remove the first element from `set1`.

In [64]:
# Your code here
#pop se utiliza para eliminar 
set1.pop()
print(set1)
len(set1)#Para comprobar que se han eliminado

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 89, 90, 91, 93, 94, 95, 96, 97, 99, 100}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)
print(len(set1))#Para comprobar que se han eliminado

{0, 2, 3, 4, 7, 8, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 47, 48, 50, 53, 54, 55, 60, 63, 66, 67, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 94, 96, 97, 98, 100}
63